{% if include.entryPageGroup == include.pageGroup %}
  {% assign pageGroupMatches = true %}
{% else %}
  {% assign pageGroupMatches = false %}
{% endif %}
{% if include.entry.childlist[0] %}
  {% if pageGroupMatches and include.parentIncluded %}
<li class="contentsEntry">
    {% if include.entry.url %}
  <a class="contentsGroupHeaderWithLink" href="{% include siteRelativeURL target=include.entry.url %}" target="_top">{{ include.entry.title }}</a>
    {% else %}
  <span class="contentsGroupHeaderNoLink">{{ include.entry.title }}</span>
    {% endif %}
  <ul class="contentsGroupChildList">
  {% endif %}
  {% for childEntry in include.entry.childlist %}
    {% if childEntry.pageGroup == nil %}
      {% assign childPageGroup = include.entryPageGroup %}
    {% else %}
      {% assign childPageGroup = childEntry.pageGroup %}
    {% endif %}
    {% include contentsEntry.html entry=childEntry entryPageGroup=childPageGroup pageGroup=include.pageGroup parentIncluded=pageGroupMatches %}
  {% endfor %}
  {% if pageGroupMatches and include.parentIncluded %}
  </ul>
</li>
  {% endif %}
{% else %}
  {% if pageGroupMatches and include.parentIncluded %}
<li class="contentsEntry">
    {% if include.entry.url %}
  <a class="contentsEntryWithLink" href="{% include siteRelativeURL target=include.entry.url %}" target="_top">{{ include.entry.title }}</a>
    {% else %}
  <span class="contentsEntryNoLink">{{ include.entry.title }}</span>
    {% endif %}
</li>
  {% endif %}
{% endif %}
