<li class="tocEntry">
{% if include.entry.childlist[0] and (include.entry.pageGroup == nil or include.entry.pageGroup == include.pageGroup) %}
  {% if include.entry.url %}
  <a class="tocGroupHeaderWithLink" href="{% include siteRelativeURL target=include.entry.url %}" target="_top">{{ include.entry.title }}</a>
  {% else %}
  <span class="tocGroupHeaderNoLink">{{ include.entry.title }}</span>
  {% endif %}
  <ul class="tocGroupChildList">
  {% for childEntry in include.entry.childlist %}
  {% include tocEntry.html entry=childEntry pageGroup=include.pageGroup %}
  {% endfor %}
  </ul>
{% else %}
  {% if include.entry.url %}
  <a class="tocEntryWithLink" href="{% include siteRelativeURL target=include.entry.url %}" target="_top">{{ include.entry.title }}</a>
  {% else %}
  <span class="tocEntryNoLink">{{ include.entry.title }}</span>
  {% endif %}
{% endif %}
</li>
