<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="docBody">
    <div class="tocFrame">
  {% capture TableOfContentsURL %}TableOfContents{{page.pageGroup}}.html{% endcapture %}
      <iframe src="{{ TableOfContentsURL | relative_url }}" class="tocTable"></iframe>
    </div>
    <div class="docFrame">
      <div class="mainContent">{{content}}</div>
    </div>
  </body>
</html>
